<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Airline Management</title>
  </head>
  <header>
    <nav>
      <ul>
        <li routerLink="add"><a>Create Flight</a></li>
        <li routerLink="modify"><a>Modify Flight</a></li>

        <li routerLink="delete"><a>Delete Flight</a></li>

        <li routerLink="view"><a>View Flight</a></li>
      </ul>
    </nav>
  </header>
  <body>
    <router-outlet></router-outlet>
  </body>
</html>
